---
import Layout from '~/layouts/Layout.astro'
---

<Layout title="404 - Page Not Found">
  <section class="flex flex-col items-center justify-center h-full gap-4 py-16">
    <h1 class="font-bold text-9xl text-primary">404</h1>
    <p class="text-4xl text-gray-600">Page not found</p>
    <a href="/" class="px-4 py-2 mt-4 bg-gray-100 rounded">Back to Homepage</a>
  </section>
</Layout>
