---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found | Vilye Farmer Producer Company">
  <div class="min-h-120 flex justify-center mt-32">
    <div class="text-center space-y-6">
      <h1 class="text-8xl font-bold lg:tracking-tight">404</h1>
      <p class="text-2xl mt-4 text-slate-600">Page not found</p>
      <a href="/" class="px-4 py-3 bg-gray-100 rounded-lg">Go Home</a>
    </div>
  </div>
</Layout>
