---
import MainLayout from "../layouts/Main.astro";
---

<MainLayout>
  <div class="py-12 isolate lg:px-8 lg:py-16">
    <div class="text-center">
      <h1
        class="text-4xl font-semibold tracking-tighter text-gray-900 lg:tracking-tight lg:text-6xl text-balance"
      >
        Farm-Fresh Mangoes & Premium Cashews
      </h1>
      <p
        class="mt-2 font-medium text-gray-500 lg:mt-6 text-md text-pretty lg:text-lg"
      >
        Sustainably grown, handpicked, and delivered fresh.
        <span class="lg:block">
          Experience the natural taste of India's finest produce.
        </span>
      </p>
    </div>
  </div>
</MainLayout>
