<header>
  <h1>Vilye Farmer Producer Company Limited</h1>
</header>

<style>
  header {
    margin-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--zinc-100);
  }
</style>
